# Python-related files
__pycache__/
*.pyc
*.pyo
*.pyd

# Conda environment files
*.lock

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Model checkpoints
*.pth

# YOLO training results
runs/

# Dataset and submission files
dataset_wall/
wall_submission.csv

# System files
.DS_Store
Thumbs.db
